.userlist li{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.userlist li:hover{
	background: : #aaa;
}

.userlist li.selected{
	background: orange;
	color: #fff;
	font-weight: bold;
}

.userlist .add-user{
	text-align: center;
	padding: 10px;
	cursor: pointer;
	background: #ccc;
	font-size: 16px;
}

.userlist .add-user:hover{
	background: orange;
}